body{
background-color:black;
}
.img-container{
text-align:center;
}
h1{
font-family:verdana;
text-align:center;
color:red;
border:2px solid blue;
}
h3{
color:red;
}
p{
color:blue;
font-size:150%;
}
h2{
color:grey;
font-size:200%;
text-align:center;
font-family:verdana;
}
th{
background-color:yellow;
font-size:300%;
}
td{
background-color:yellow;
font-size:175%;
}
.blink{
animation: blinker 0.9s linear infinite;
color:red;
font-size:300%;
font-family-verdana;
font-weight:bold;
}
@keyframes blinker{
50% { opacity: 0;}
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.contact{
color:white;
font-size:150%;
font-family:verdana;
text-align:center;
}
.dropbtn{
 backgroung-color: green;
 color:black;
 padding:16px;
 font-size:16px;
 border:none;
 cursor:pointer;
}
.dropdown {
	position:relative;
	display:inline-block;
}
.dropdown-content {
 display: none;
 position:absolute;
 background-color:#f9f9f9;
 min-width:160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index:1;
}
.dropdown-content a{
 color:black;
 padding: 12px 16px;
 text-decoration: none;
 display:block;
}
.dropdown-content a:hover{background-color:#f1f1f1;}
.dropdown:hover  .dropdown-content{display:block;}
.dropdown:hover  .dropbtn{background-color: #3e8e41;}



